<!DOCTYPE html>
<html lang="en">
<head>
    <title>Greasebelt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    {# #}
    <script>
        $(document).ready(function() {
        $('#reports').DataTable();
        } );
    </script>
    {# #}
</head>

<body>
    <div class="navbar navbar-default" style="background-color: #0000bb">
        <div class="container">
            <div class="navbar-header" style="height: 100px">
                <div class="navbar-brand"><img src="/static/ajah.png">Greasebelt Reports</div>
            </div>
        </div>
    </div>
    <div class="container">
        <a href="/reports" class="btn btn-primary btn-sm">View all reports</a>
        <a href="/reports/add" class="btn btn-success btn-sm">
            <i class="glyphicon glyphicon-plus"></i>
            Add report
        </a>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {{user}}
  </body>
</html>
