{% extends "base.html" %}

{% block content %}

    <h3>All reports</h3>

        <form method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="form-inline col-sm-2">
                    <label for="organizationName">Organization Name:</label>
                </div>

                <div class="form-inline col-sm-2">
                    <input type="text" id="organizationName" name="organizationName" class="form-control" value="{{ search['organizationName'] }}">
                </div>

                <div class="form-inline col-sm-2">
                    <label for="organizationID">Fundertracker ID:</label>
                </div>

                <div class="form-inline col-sm-2">
                    <input type="text" id="organizationID" name="organizationID" class="form-control" value="{{ search['organizationID'] }}">
                </div>

                <div class="form-inline col-sm-2">
                    <label for="reportName">Report Name:</label>
                </div>

                <div class="form-inline col-sm-2">
                    <input type="text" id="reportName" name="reportName" class="form-control" value="{{ search['reportName'] }}">
                </div>
            </div>
            <div class="row">
                <div class="form-inline col-sm-2">
                    <label for="startDate">Start Date:</label>
                </div>
                <div class="form-inline col-sm-2">
                    <input type="text" id="startDate" name="startDate" class="form-control" value="{{ search['startDate'] }}">
                </div>
                <div class="form-inline col-sm-2">
                    <label for="endDate">End Date:</label>
                </div>
                <div class="form-inline col-sm-2">
                    <input type="text" id="endDate" name="endDate" class="form-control" value="{{ search['endDate'] }}">
                </div>
                <div class="form-inline col-sm-2">
                </div>
                <div class="form-inline col-sm-2">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </div>
        </form>

    <div class="media" style="float: none;">
    <table id="reports" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Controls</th>
                <th>Report file name</th>
                <th>Organization name</th>
                <th>Fundtracker ID</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Language</th>
            </tr>
        </thead>

        <tbody>
        {% for report in reports %}
            <div class="media">
                <div class="media-left" style="width: 800px">
                    <tr>
                        <td>
                            {% if report.reportUrl %}
                                <a href="{{report.reportUrl}}" title="Download report" class="btn btn-primary btn-sm">
                                    <i class="glyphicon glyphicon-download"></i></a>
                                <a href="/reports/{{report.id}}/edit" title="Edit report" class="btn btn-primary btn-sm">
                                    <i class="glyp555hicon glyphicon-edit"></i></a>
                                <a href="/reports/{{report.id}}/delete" title="Delete report" class="btn btn-danger btn-sm">
                                    <i class="glyphicon glyphicon-trash"></i></a>
                                <a href="/reports/{{report.id}}/upload_csv" title="Upload CSV" class="btn btn-success btn-sm" >
                                    <i class="glyphicon glyphicon-upload"></i></a>
                                <a href="/reports/{{report.id}}/view_csv" title="Upload CSV" class="btn btn-success btn-sm" >
                                    <i class="glyphicon glyphicon-eye-open"></i></a>
                            {% else %}
                                No report associated with this record.

                            {% endif %}
                        </td>
                        <td>{{report.reportName|default('Unknown', True)}}</td>
                        <td>{{report.organizationName}}</td>
                        <td><a href="http://fundtracker.ajah.ca/charity/{{report.organizationID}}/profile">{{report.organizationID}}</a></td>
                        <td>{{report.startDate}}</td>
                        <td>{{report.endDate}}</td>
                        <td>{{report.language}}</td>
                    </tr>
                </div>
            </div>
        {% else %}
            <p>No reports found</p>
        {% endfor %}
     </tbody>
    </table>
    </div>

        {# End report list #}

    {% if next_page_token %}
        <nav>
            <ul class="pager">
                <li><a href="?page_token={{next_page_token}}">More</a></li>
            </ul>
        </nav>
    {% endif %}

{% endblock %}
